<div class="container">

  <h1> Guess That Tweet ! </h1>

  <p>
    {{ ctrl.tweet }}
  </p>

  <br>

  <button ng-click="ctrl.randomTweet()" class="btn btn-success">New Tweet!</button>

  <br>
  <br>

  <div>
    <button ng-click="ctrl.checkTweeter(ctrl.tweeter)" class="btn btn-primary button_array hidden">{{ ctrl.tweeter }}</button>
    <button ng-click="ctrl.checkTweeter(ctrl.tweeterNotPick1)" class="btn btn-primary button_array hidden"> {{ ctrl.tweeterNotPick1 }}</button>
    <button ng-click="ctrl.checkTweeter(ctrl.tweeterNotPick2)" class="btn btn-primary button_array hidden">{{ ctrl.tweeterNotPick2 }}</button>
    <button ng-click="ctrl.checkTweeter(ctrl.tweeterNotPick3)" class="btn btn-primary  button_array hidden">{{ ctrl.tweeterNotPick3 }}</button>
  </div>

  <br>
  <br>

  <label>Scoreboard</label>

  <br>

  <div>{{ ctrl.counter }}</div>


</div>
