<div class="container">

  <h1 class="title"> Guess That Tweet ! </h1>

  <input type="image" src="http://1048believe.com/wp-admin/js/twitter-bird-png-transparent-i0.png" ng-click="ctrl.randomTweet()" class="twitter-logo animated infinite pulse"></input>

   <div class="new-tweet rollIn">
    {{ ctrl.tweet }}
  </div>

  <div id="shuffle">
    <button ng-click="ctrl.checkTweeter(ctrl.tweeter)" class="btn btn-primary button_array hidden" style="margin: 5px">{{ ctrl.tweeter }}</button>
    <button ng-click="ctrl.checkTweeter(ctrl.notPick1)" class="btn btn-primary button_array hidden" style="margin: 5px"> {{ ctrl.notPick1 }} </button>
    <button ng-click="ctrl.checkTweeter(ctrl.tweeterNotPick2)" class="btn btn-primary button_array hidden" style="margin: 5px">{{ ctrl.notPick2}}</button>
    <button ng-click="ctrl.checkTweeter(ctrl.tweeterNotPick3)" class="btn btn-primary  button_array hidden" style="margin: 5px">{{ ctrl.notPick3 }}</button>
  </div>

   <table>
     <caption>Scoreboard</caption>
     <thead>
       <tr>
         <th>Player 1</th>
         <th>Player 2</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>{{ ctrl.player1Wins }}</td>
         <td>{{ ctrl.player2Wins }}</td>
       </tr>
     </tbody>
   </table>


</div>
